
body {
    font-family: "Merriweather", serif;
    background-color: cadetblue;
    color: black;
    margin: 0px;
}

header {
    background-color: crimson;
}

.logo {
    max-width: 90px;
    display: block;
    margin: auto;
}

.navigation {
    text-align: center;
    background-color: brown;
}

.navigation a {
    color:antiquewhite;
    text-decoration: none;
    padding: 10px;
    display:inline-block;
}

.navigation a:hover {
    color:brown;
    background-color: antiquewhite;
}
